.header__secondary{
    margin-left: 60px;
    font-size: 30px;
}

.bar{
    margin-top: 30px;
    width: 550px;
}

.notifications__bar {
    margin-top: 15px;
}


/* .notification__bar{
    margin-top: 500px;
} */